/* Google fonts */

@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap");

/* Site-wide */

html,
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  /* These properties are used in conjunction with footer to position the footer at the bottom of pages which do not have much content */
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Special paddings/margins/text */

.uppercase {
  text-transform: uppercase;
}

/* Colors */

.bg-color--red {
  background-color: rgba(148, 54, 52, 1);
  color: rgb(255, 255, 255);
}

.bg-color--green {
  background-color: rgb(38, 77, 38);
  color: rgb(255, 255, 255);
}

.bg-color--white {
  background-color: rgb(255, 255, 255);
  color: rgb(43, 41, 41);
}

.shadow--red {
  box-shadow: 2px 2px 5px rgba(148, 54, 52, 0.5);
}

/* Navbar */

.navbar {
  margin-bottom: 0;
  border: 1px;
  border-style: solid;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  border-color: transparent;
  border-bottom-color: rgba(148, 54, 52, 0.7);
  opacity: 1;

  position: fixed;
  z-index: 1;
  left: 0;
}

.navbar-brand {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
}

.navbar-nav {
}

.navbar .navbar-toggler {
  border: 0;
}

.navbar-light .navbar-nav .nav-link:hover {
  font-weight: 500;
  color: rgba(148, 54, 52, 0.7);
}

/* Headings */

.heading-welcome,
.heading-about,
.heading-pricing,
.heading-gallery,
.heading-signup {
  text-align: center;
}

.heading-gallery-category {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding-top: 18px;
}

/* Hero image */

.callout-container {
  height: 100vh;
  width: auto;
  background: url("../assets/images/landscapes/fieldscape.jpg") no-repeat top
    right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: table;
  position: relative;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(148, 54, 52, 0.7);
}

/* Welcome */

/* Intro */

.intro-container p {
  margin: 0;
  padding: 10px 0px;
}

/* Footer */

/* These properties are used in conjunction with html,body to position the footer at the bottom of pages which do not have much content  */
footer {
  margin-top: auto;
  height: 158.875px;
}

.footer-container a {
  color: rgb(255, 255, 255);
}

.footer-container a:hover {
  color: rgb(92, 173, 201);
  text-decoration: none;
}

.copyright-container a {
  color: rgb(255, 255, 255);
}

/* Pricing */

caption {
  text-align: right;
}

/* Gallery */

.gallery-container {
  padding-top: 50px;
}

.pic {
  position: relative;
  padding: 0;
}

.pic img {
  height: 20vh;
  object-fit: cover;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 7px 7px 7px rgba(148, 54, 52, 0.3);
}

.pic button {
  position: absolute;
  top: 95%;
  left: 95%;
  transform: translate(-90%, -100%);
  -ms-transform: translate(-90%, -100%);
  opacity: 0.85;
}

/* Sign Up */

.btn-red {
    background-color: rgba(148, 54, 52, 0.8);
    color: rgb(255,255,255);
}