/* Google fonts */

@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap");

/* Site-wide */

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

/* Special paddings/margins/text */

h1,
h2,
h3,
h4 {
}

.uppercase {
  text-transform: uppercase;
}

.inline-block {
  display: inline-block;
}

.intro-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  margin-top: 25px;
  margin-bottom: 40px;
  text-align: center;
  color: #989681;
}

.intro-heading {
  background-color: white;
}

.container-fluid {
  padding: 0;
}

.center-all {
  text-align: center;
  align-items: center;
  align-self: center;
  justify-items: center;
  justify-self: center;
  justify-content: center;
  place-items: center;
  vertical-align: middle;
  line-height: 100%;
  margin: auto;
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}

/* Colors */

.bg-color--red {
  background-color: rgba(148, 54, 52, 1);
  color: white;
}

.bg-color--white {
  background-color: white;
  color: black;
}

.shadow--red {
  box-shadow: 2px 2px 5px rgba(148, 54, 52, 0.5);
}

/* Navbar */

.navbar {
  margin-bottom: 0;
  border: 1px;
  border-style: solid;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  border-color: transparent;
  border-bottom-color: rgba(148, 54, 52, 0.7);
  opacity: 1;

  position: relative;
  z-index: 1;
}

.navbar-brand {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
}

.navbar-nav {
}

.navbar .navbar-toggler {
  border: 0;
}

.navbar-light .navbar-nav .nav-link:hover {
  font-weight: 500;
  color: rgba(148, 54, 52, 0.7);
}

/* Hero image */

.callout-container {
  height: 100vh;
  width: auto;
  background: url("../assets/images/landscapes/fieldscape.jpg") no-repeat bottom
    right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Gallery */

.gallery {
}
.pic {
  position: relative;
  padding: 0;
}

.pic img {
  height: 20vh;
  object-fit: cover;
  margin-top: 20px;
  box-shadow: 7px 7px 7px rgba(148, 54, 52, 0.3);
}

.pic button {
  position: absolute;
  top: 85%;
  left: 85%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  opacity: 0.85;
}
