/* Google fonts */

@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap");

/* Site-wide */

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;

/* These settings are used to position the footer at the bottom of the page where there is insufficient content to naturally position it there (About, Pricing, Signup) */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.inner-page-contents {
    flex: 1;
}

/* Special paddings/margins/text */

.uppercase {
  text-transform: uppercase;
}

/* Colors */

.bg-color--green {
  background-color: rgb(38, 77, 38);
  color: rgb(255, 255, 255);
}

.shadow--red {
  box-shadow: 2px 2px 5px rgba(148, 54, 52, 0.5);
}

/* Navbar */

.navbar {
  margin-bottom: 0;
  border: 1px;
  border-style: solid;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  border-color: transparent;
  border-bottom-color: rgba(148, 54, 52, 0.7);
  opacity: 1;

  position: fixed;
  z-index: 1;
  left: 0;
}

.navbar-brand {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
}

.navbar-nav {
}

.navbar .navbar-toggler {
  border: 0;
}

.navbar-light .navbar-nav .nav-link:hover {
  font-weight: 500;
  color: rgba(148, 54, 52, 0.7);
}

/* Headings */

.heading-welcome,
.heading-about,
.heading-pricing,
.heading-gallery,
.heading-signup {
  text-align: center;
  margin-bottom: 25px;
}

.heading-gallery-category {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding-top: 18px;
}

/* Hero image */

.callout-container {
  height: 100vh;
  width: auto;
  background: url("../assets/images/landscapes/fieldscape.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  position: relative;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(148, 54, 52, 0.7);
}

/* Welcome */

/* Intro */

.intro-container p {
  margin: 0;
  padding: 10px 0px;
}

/* Footer */

footer {
  margin-top: 80px;
}

.footer-container a {
  color: rgb(255, 255, 255);
}

.footer-container a:hover {
  color: rgb(92, 173, 201);
  text-decoration: none;
}

.copyright-container a {
  color: rgb(255, 255, 255);
}

/* About */


/* Pricing */

table {
    text-align: center;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(148, 54, 52);
}

.table td,
.table th {
    border-top: 1px;
    border-top-style: solid;
    border-top-color:  rgb(38, 77, 38);
}

table caption {
  text-align: right;
}

/* Gallery */

.gallery-container {
}

.pic {
  position: relative;
  padding: 0;
}

.pic img {
  height: 20vh;
  object-fit: cover;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 7px 7px 7px rgba(148, 54, 52, 0.3);
}

.pic button {
  position: absolute;
  top: 95%;
  left: 95%;
  transform: translate(-90%, -100%);
  -ms-transform: translate(-90%, -100%);
  opacity: 0.85;
}

/* Sign Up */

.btn-red {
  background-color: rgb(148, 54, 52);
  color: rgb(255, 255, 255);
}

.btn-red:hover {
  color: rgb(255, 255, 255);
  background-color: #f7761a;
  text-decoration: none;
}

.form-group label {
  font-family: "Montserrat", sans-serif;
}

/* Media */

/* This adjustment shrinks the font size of the navbar brand on smaller mobile devices to prevent spilling onto the next line */
@media screen and (max-device-width: 349px) {
  .navbar-brand {
    font-size: 15px;
  }
}

/* This adjustment allows the hero image to be displayed on mobile devices (iOS) */
@media screen and (max-device-width: 1024px) {
  .callout-container {
    background-attachment: scroll;
  }
}

/* This adjustment adds ability to scroll navbar dropdown items on mobile devices where they would be hidden/inaccessible */
@media screen and (max-width: 767px) and (max-height: 475px) {
  .dropdown-menu {
    height: 100px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}
