/* Google fonts */

@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap");

/* Site-wide */

body {
  margin: 0;
}

/* Colors */

/* Navbar */

.navbar {
  margin-bottom: 0;
  border: 1px;
  border-style: solid;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  border-color: transparent;
  border-bottom-color: rgba(148, 54, 52, 0.7);
  opacity: 1;

  position: sticky;
  z-index: 1;
}

.navbar-brand {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
}

.navbar-nav {
}

.navbar .navbar-toggler {
  border: 0;
}

.navbar-nav .navbar-text {
  color: rgba(148, 54, 52, 0.7);
}

.navbar-nav .nav-link:hover {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(148, 54, 52, 0.3);
  border-color: rgba(148, 54, 52, 1);
  border-radius: 10%;
}

/* Callout */

.callout-container {
  height: 100vh;
  background: url("../assets/images/landscapes/Fieldscape.jpg") no-repeat bottom
    right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Sections general */

.section-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.section-header {
  padding: 20px 0px;
  text-align: center;
}

/* Intro */

.intro-item {
  padding-left: 45px;
  padding-right: 45px;
  text-align: center;
}

/* Categories */

.media-categories {
  height: 15vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.media-canals {
  background: url("../assets/images/canals/bridge.jpg") bottom fixed;
}

.media-coast {
  background: url("../assets/images/coast/Coast1.jpg") bottom fixed;
}

.categories-text {
    font-family: "Open Sans",sans-serif;
    color: whitesmoke;
    font-size: 24px;
    font-weight: bold;
}