/* Google fonts */

@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap");

/* Site-wide */

body {
  margin: 0;
}

/* Headings */

h2 {
    text-align: center;
}

/* Colors */

/* Navbar */

.navbar {
  margin-bottom: 0;
  border: 1px;
  border-style: solid;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  border-color: transparent;
  border-bottom-color: rgba(148, 54, 52, 0.7);
  opacity: 1;

  position: fixed;
  z-index: 1;
}

.navbar-brand {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
}

.navbar-nav {
}

.navbar .navbar-toggler {
  border: 0;
}

.navbar-nav .navbar-text {
  color: rgba(148, 54, 52, 0.7);
}

.navbar-nav .nav-link:hover {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(148, 54, 52, 0.3);
  border-color: rgba(148, 54, 52, 1);
  border-radius: 10%;
}

/* Callout */

.callout-container {
  height: 100vh;
  width: auto;
  background: url("../assets/images/landscapes/Fieldscape.jpg") no-repeat bottom
    right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Intro */

.intro-item {
  text-align: center;
}

/* Six Categories */

.categories-media {
  height: 15vh;
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}

.categories-media img {
  position: absolute;
  width: 100%;
  top: 45%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.section-bg--red {
  background-color: rgba(148, 54, 52, 1);
  color: whitesmoke;
}

.section-bg--white {
  background-color: white;
  color: black;
}

.categories-text {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
}

.categories-text--red {
  color: rgba(148, 54, 52, 1);
}
