/* Google fonts */

@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap");

/* Site-wide */

body {
  margin: 0;
}

/* Colors */

/* Navbar */

.navbar {
  margin-bottom: 0;
  border: 1px;
  border-style: solid;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  border-color: transparent;
  border-bottom-color: rgba(148, 54, 52, 0.7);
  opacity: 1;

  position: sticky;
  z-index: 1;
}

.navbar-brand {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
}

.navbar-nav {
}

.navbar .navbar-toggler {
  border: 0;
}

.navbar-nav .navbar-text {
  color: rgba(148, 54, 52, 0.7);
}

.navbar-nav .nav-link:hover {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(148, 54, 52, 0.3);
  border-color: rgba(148, 54, 52, 1);
  border-radius: 10%;
}

/* Callout */

.callout-container {
  height: 100vh;
  width: auto;
  background: url("../assets/images/landscapes/Fieldscape.jpg") no-repeat bottom
    right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Intro */

.intro-item {
  text-align: center;
}

/* Categories */

.media-categories {
  height: 15vh;
  width: 100%;
  margin: 10px 0px;
  border-color: whitesmoke;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.media-canals {
  background: url("../assets/images/canals/bridge.jpg") center fixed;
}

.media-coast {
  background: url("../assets/images/coast/Coast1.jpg") center fixed;
}

.media-flora {
  background: url("../assets/images/flora-and-fauna/autumn-1.jpg") center fixed;
}

.media-flowers {
  background: url("../assets/images/flowers/faded-glory.jpg") center fixed;
}

.media-landscapes {
  background: url("../assets/images/landscapes/bale-scape.jpg") center fixed;
}

.media-trees {
  background: url("../assets/images/trees/misty-woods.jpg") center fixed;
}

.section-bg--red {
    background-color: rgba(148, 54, 52, 0.5);
    color: #f7f7f7f7;
}

.section-bg--white {
    background-color: white;
    color: rgba(148, 54, 52, 0.7);
}

.categories-text {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.categories-text--white {
  color: whitesmoke;
}

.categories-text--red {
  color: rgba(148, 54, 52, 0.7);
}
