/* Google fonts */

@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap");

/* Site-wide */

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;

  /* These settings are used to position the footer at the bottom of the page where there is insufficient content to naturally position it there (About, Pricing, Signup) */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* These settings are used to position the footer at the bottom of the page where there is insufficient content to naturally position it there (About, Pricing, Signup) */
.inner-page-contents {
  flex: 1;
}

/* Special paddings/margins/text */

.uppercase {
  text-transform: uppercase;
}

/* Colors */

/* .bg-color--green {
  background-color: rgb(38, 77, 38);
  color: rgb(255, 255, 255);
}

.shadow--red {
  box-shadow: 2px 2px 5px rgba(148, 54, 52, 0.5);
} */

/* Color scheme test */

.navbar {
  background-color: #3399CC;
  border-bottom-color: #ffcc00;
}

.navbar-light .navbar-brand {
    color: #ffffff;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #003366;
}

.callout-container {
  border-bottom-color: #ffcc00;
}

.callout-contents {
  background-color: transparent;
  color: rgba(255, 255, 255, 1);
}

.intro-gallery img {
  border-color: #003366;
  box-shadow: 3px 5px 10px #003366;
}

.intro-gallery p {
  color: rgb(255, 255, 255);
}

.bg-color-footer {
    background-color: #cc9900;
}

footer {
  border-top-color: #003366;
}

.footer-container a {
  color: rgb(255, 255, 255);
}

.footer-container a:hover {
  color: #996600;
}

.copyright-container p {
  color: rgb(255, 255, 255);
}

.about-image img {
  border-color: #003366;
  box-shadow: 3px 5px 10px #003366;
}

.table thead th {
  border-bottom-color: #003366;
}

.table td,
.table th {
  border-top-color: #996600;
}

.pic img {
  height: 200px;
  object-fit: cover;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 3px 5px 10px #003366;
}

.pic button {
  background-color: rgb(148, 54, 52);
  color: rgb(255, 255, 255);
}

.btn:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(54, 167, 40);
}

.btn-red {
  background-color: rgb(148, 54, 52);
  color: rgb(255, 255, 255);
}

.btn-red:hover {
  color: rgb(255, 255, 255);
  background-color: #f7761a;
}

.hr-gradient--custom {
  background-image: linear-gradient(
    to right,
    rgba(38, 77, 38, 0),
    rgba(38, 77, 38, 0.75),
    rgba(38, 77, 38, 0)
  );
}


/* Horizontal rules */

.hr-gradient {
  border: 0;
  height: 1px;
  margin-bottom: 2rem;
}

.hr-gradient--green {
  background-image: linear-gradient(
    to right,
    rgba(38, 77, 38, 0),
    rgba(38, 77, 38, 0.75),
    rgba(38, 77, 38, 0)
  );
}

.hr-gradient--red {
  background-image: linear-gradient(
    to right,
    rgba(148, 54, 52, 0),
    rgba(148, 54, 52, 0.75),
    rgba(148, 54, 52, 0)
  );
}

.hr-gradient--blue {
  background-image: linear-gradient(
    to right,
    rgba(92, 173, 201, 0),
    rgba(92, 173, 201, 0.75),
    rgba(92, 173, 201, 0)
  );
}

.hr-gradient--yellow {
  background-image: linear-gradient(
    to right,
    rgba(179, 150, 24, 0),
    rgba(179, 150, 24, 0.75),
    rgba(179, 150, 24, 0)
  );
}

/* Navbar */

.navbar {
  margin-bottom: 0;
  border: 1px;
  border-style: solid;
  width: 100%;
  /* background-color: rgba(255, 255, 255, 0.9); */
  border-color: transparent;
  /* border-bottom-color: rgba(148, 54, 52, 0.7); */
  opacity: 1;

  position: fixed;
  z-index: 1;
  left: 0;
}

.navbar-brand {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
}

.navbar-nav {
}

.navbar .navbar-toggler {
  border: 0;
}

.navbar-light .navbar-nav .nav-link:hover {
  font-weight: 500;
  /* color: rgba(148, 54, 52, 0.7); */
}

/* Headings */

.heading-welcome,
.heading-about,
.heading-pricing,
.heading-gallery,
.heading-signup {
  font-size: 185%;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 4px;
}

.heading-welcome {
  font-size: 250%;
  letter-spacing: 2px;
  margin-bottom: 40px;
}

.heading-gallery-category {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding-top: 18px;
  letter-spacing: 1px;
}

/* Hero image */

.callout-container {
  height: 100vh;
  width: auto;
  background: url("../../assets/images/trees/lg-winter-woods.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  position: relative;
  border-bottom: solid;
  border-bottom-width: 1px;
  /* border-bottom-color: rgba(148, 54, 52, 0.7); */
}

/* Jumbotron */

.callout-contents {
  align-self: center;
  width: 100%;
  background-color: transparent;
  text-align: center;
  /* color: rgba(255, 255, 255, 1); */
  margin: 0;
}

/* Alerts */

.site-alert {
  position: fixed;
  padding: 0.75rem 1.25rem;
  border: 1px;
  border-style: solid;
  border-radius: 0.25rem;
  width: 100%;
  margin-top: 65px;
  text-align: center;
  z-index: 2;
}

/* Welcome */

/* Intro */

.intro-container {
    margin: 50px auto;
}

.intro-container p {
  margin: 0;
  padding: 20px;
}

.intro-gallery {
  width: 91%;
}

.intro-gallery img {
  margin: 20px auto;
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  /* border-color: rgba(148, 54, 52, 0.7);
  box-shadow: 3px 5px 10px rgba(148, 54, 52, 0.3); */
}

.intro-gallery p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  /* color: rgb(255, 255, 255); */
  text-align: center;
  max-width: 150px;
  z-index: 2;
}

/* Footer */

footer {
  margin-top: 80px;
  border: 1px;
  border-style: solid;
  border-color: transparent;
  /* border-top-color: rgba(148, 54, 52, 0.7); */
}

.footer-container a {
  /* color: rgb(255, 255, 255); */
}

.footer-container a:hover {
  /* color: rgb(92, 173, 201); */
  text-decoration: none;
}

.copyright-container a {
  /* color: rgb(255, 255, 255); */
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}

/* About */

.about-container {
}

.about-image {
  display: flex;
  justify-content: center;
}

.about-image img {
  border-style: solid;
  border-width: 1px;
  /* border-color: rgb(148, 54, 52); */
  border-radius: 5px;
  /* box-shadow: 3px 5px 10px rgba(148, 54, 52, 0.3); */
}

/* Pricing */

table {
  text-align: center;
  table-layout: fixed;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px;
  border-bottom-style: solid;
  /* border-bottom-color: rgba(148, 54, 52, 0.5); */
}

.table td,
.table th {
  border-top: 1px;
  border-top-style: solid;
  /* border-top-color: rgba(38, 77, 38, 0.5); */
}

table caption {
  text-align: right;
}

/* Gallery */

.gallery-container {
}

.pic {
  position: flex;
  padding: 0;
}

.pic img {
  height: 200px;
  object-fit: cover;
  margin-top: 20px;
  border-radius: 5px;
  /* box-shadow: 3px 5px 10px rgba(148, 54, 52, 0.3); */
}

.pic button {
  position: absolute;
  top: 95%;
  left: 87%;
  transform: translate(-100%, -100%);
  -ms-transform: translate(-90%, -100%);
  opacity: 0.85;
  /* background-color: rgb(148, 54, 52);
  color: rgb(255, 255, 255); */
}

.btn:hover {
  /* color: rgb(255, 255, 255); */
  text-decoration: none;
  /* background-color: rgb(54, 167, 40); */
  opacity: 1;
}

/* Sign Up */

.btn-red {
  /* background-color: rgb(148, 54, 52); */
  color: rgb(255, 255, 255);
}

.btn-red:hover {
  /* color: rgb(255, 255, 255);
  background-color: #f7761a; */
  text-decoration: none;
}

.form-group label {
  font-family: "Montserrat", sans-serif;
}

/* Media */

/* This adjustment reduces the size and spacing of the welcome heading to accommodate smaller mobile devices */
@media screen and (max-width: 409px) {
.heading-welcome {
    font-size: 197%;
    letter-spacing: 1px;
    margin-bottom: 40px;
}
}
/* This adjustment shrinks the font size of the navbar brand on smaller mobile devices to prevent spilling onto the next line */
@media screen and (max-width: 349px) {
  .navbar-brand {
    font-size: 15px;
  }
}

/* This adjustment allows the hero image to be displayed on mobile devices (iOS) */
@media screen and (max-width: 1024px) {
  .callout-container {
    background-attachment: scroll;
  }
}

/* This adjustment adds ability to scroll navbar dropdown items on mobile devices where they would be hidden/inaccessible */
@media screen and (max-width: 767px) and (max-height: 475px) {
  .dropdown-menu {
    height: 100px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

@media screen and (max-width: 1199px) {
  .about-image img {
    margin-top: 50px;
  }
}

/* This adjustment alters the height of gallery images to prevent them becoming stretched on mobile devices when displayed one per row */
@media screen and (max-width: 575px) {
  .pic img {
    height: 100%;
  }
}
