/* Google fonts */

@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap");

/* Site-wide */

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;

  /* These settings are used to position the footer at the bottom of the page where there is insufficient content to naturally position it there (About, Pricing, Signup) */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* These settings are used to position the footer at the bottom of the page where there is insufficient content to naturally position it there (About, Pricing, Signup) */
.inner-page-contents {
  flex: 1;
}

/* iOS webkit test */
textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
-webkit-appearance: none;
border-radius: 0;
}

/* Special paddings/margins/text */

.uppercase {
  text-transform: uppercase;
}

/* Horizontal rules */

.hr-gradient {
  border: 0;
  height: 1px;
  margin-bottom: 2rem;
}

.hr-gradient--yellow {
  background-image: linear-gradient(
    to right,
    rgba(38, 77, 38, 0),
    rgb(204, 153, 0),
    rgba(38, 77, 38, 0)
  );
}

/* Navbar */

.navbar {
  margin-bottom: 0;
  width: 100%;
  background-color: #3399cc;
  opacity: 1;

  position: fixed;
  z-index: 1;
  left: 0;
}

.navbar-brand {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  color: #ffffff;
}

.navbar-dark .navbar-brand:focus,
.navbar-dark .navbar-brand:hover {
  color: #003366;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #003366;
  font-weight: 600;
}

/* Headings */

.heading-welcome,
.heading-about,
.heading-pricing,
.heading-gallery,
.heading-signup {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 4px;
}

.heading-gallery-category {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  padding-top: 1rem;
  letter-spacing: 1px;
}

/* Hero image */

.callout-container {
  height: 100vh;
  width: auto;
  background: url("../../assets/images/trees/lg-winter-woods.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  position: relative;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-color: #003366;
}

/* Jumbotron */

.callout-contents {
  align-self: center;
  width: 100%;
  background-color: transparent;
  text-align: center;
  color: #fff;
  margin: 0;
}

/* Alerts */

.site-alert {
  position: fixed;
  padding: 0.75rem 1.25rem;
  border: 1px;
  border-style: solid;
  border-radius: 0.25rem;
  width: 100%;
  margin-top: 65px;
  text-align: center;
  z-index: 2;
}

/* Intro */

.intro-reasons p {
  margin: 0;
  padding: 20px 0px;
  letter-spacing: 1px;
}

.intro-gallery {
  width: 91%;
}

.intro-gallery img {
  margin: 20px auto;
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 5px 8px #003366;
}

.intro-gallery p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  color: #fff;
  text-align: center;
  max-width: 150px;
  z-index: 2;
}

/* Footer */

footer {
  margin-top: 80px;
  border: 0px;
  border-style: solid;
  border-color: transparent;
  border-top-color: #003366;
}

.footer-container a {
  color: #fff;
}

.footer-container a:hover {
  color: #996600;
  text-decoration: none;
}

.copyright-container p {
  color: #fff;
}

.bg-color-footer {
  background-color: #cc9900;
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}

/* About */

.about-container {
}

.about-image {
  display: flex;
  justify-content: center;
}

.about-image img {
  border-radius: 5px;
  box-shadow: 0px 5px 8px #003366;
}

/* Pricing */

table {
  text-align: center;
  table-layout: fixed;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px;
  border-bottom-style: solid;
  border-bottom-color: #0033668e;
}

.table td,
.table th {
  border-top: 1px;
  border-top-style: solid;
  border-top-color: #9966008a;
}

table caption {
  text-align: right;
}

/* Gallery */

.gallery-container {
}

.pic {
  position: flex;
  padding: 0;
}

.pic img {
  height: 200px;
  object-fit: cover;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0px 5px 8px #003366;
}

.pic button {
  position: absolute;
  top: 95%;
  left: 87%;
  transform: translate(-100%, -100%);
  -ms-transform: translate(-90%, -100%);
  opacity: 1;
  background-color: #3399cc;
  color: #ffffff;
}

.pic button:hover {
  background-color: #003366;
  color: #ffffff;
}
/* Sign Up */

.form-group label {
  font-family: "Montserrat", sans-serif;
}

#signup-form button {
  background-color: #3399cc;
  color: #ffffff;
}

#signup-form button:hover {
  background-color: #003366;
  color: #ffffff;
}

/* Media */

/* This adjustment increases the font size of the navbar brand on larger displays */
@media screen and (min-width: 370px) {
  .navbar-brand {
    font-size: 18px;
  }
}

/* This query increases the size of callout-contents on larger displays */
@media screen and (min-width: 768px) {
  .callout-contents h1 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
  }

  .callout-contents p {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
}

/* This query allows the hero image to be displayed on mobile devices (iOS) */
@media screen and (max-width: 1024px) {
  .callout-container {
    background-attachment: scroll;
  }
}

/* This query adds ability to scroll navbar dropdown items on mobile devices where they would be hidden/inaccessible */
@media screen and (max-width: 767px) and (max-height: 475px) {
  .dropdown-menu {
    height: 115px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

/* This query alters the height of gallery images to prevent them becoming stretched on mobile devices when displayed one per row */
@media screen and (max-width: 575px) {
  .pic img {
    height: 100%;
  }
}
